@import url("https://fonts.googleapis.com/css?family=Cardo|Roboto:300,500");
.brandmark {
  padding-top: 9rem;
  text-align: center;
  margin: auto; }

.logo {
  max-width: 20rem; }

.info {
  font-size: 0.8rem;
  color: rgba(1, 1, 1, 0.5);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #737373; }

.headline {
  text-align: center;
  padding-top: 3rem;
  line-height: 1.25;
  font-family: 'Cardo', serif;
  font-size: 2.25rem; }

.intro {
  padding-top: 1rem;
  font-size: 1.3rem;
  line-height: 1.25;
  font-weight: 300;
  color: #595959;
  font-family: 'Roboto', sans-serif;
  text-align: justify; }

.text {
  white-space: pre-wrap;
  font-family: 'Cardo', serif;
  font-weight: 400;
  font-size: 1.25rem;
  padding-top: 4.5rem;
  padding-bottom: 5rem;
  line-height: 1.5; }

.text::first-letter {
  font-size: 4rem;
  line-height: 3.5rem;
  padding-top: 0.25rem;
  padding-right: .5rem;
  float: left; }
